.bestellinhalt{
    margin-top: 2%;
    margin-bottom: 1%;
    display: grid;
}

.card{
    min-width: 25vw;
    min-height: 30vh;
    cursor: pointer;
    margin-bottom: 30px;
}
.card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.zutaten{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 1%;
    grid-auto-rows: auto;
    border-bottom: 1px solid black;
}

.bestellung {
    width: 30%;
    margin: auto;
}

.preis {
    align-self: flex-end;
    margin-right: 5%;
}

.gesamtpreis {
    width: 100%;
    text-align: center;
}

.bestell-button{
    width: 50%;
    text-align: center;
    margin: auto auto 5%;
}

.bestellung-erfolgreich{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.anzahl{
    width: 30%;
    margin: auto;
}

.rezept-preis{
    text-align: right;
    margin-right: 5%;
    margin-bottom: 1%;
}